@import "~sass/_variables";

a.btn {
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: black;
	font-stretch: condensed;
	font-size: em(14px);
	text-transform: uppercase;
	text-decoration: none;

  letter-spacing: 2px;
	padding: 3%;

  flex: 1 1 auto;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;

  @include border-radius(70);
  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));

  @include mobile-only {
    padding-left: 30px;
    padding-right: 30px;
  }

  &:hover {
    cursor: pointer;
    @include scale(1.2);
  }
  &:active {
    cursor: pointer;
    @include scale(.8);
  }

  &.large {
    background-color: yellow;
  }
}