@import "~sass/_variables";

a.btn {
	display: inline-block;
  background-color: green;
	font-weight: 700;
	color: black;
	font-stretch: condensed;
  text-transform: uppercase;
  text-decoration: none;

  letter-spacing: 2px;
  padding: 20%;
  max-height: 50px;

  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;

  @include border-radius(70);
  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));

  &:hover {
    cursor: pointer;
    @include scale(1.2);
  }
  &:active {
    cursor: pointer;
    @include scale(.8);
  }

  &.gold {
    background-color: $gold;
  }
  &.white {
    background-color: white;
    padding: 13%;
  }
  &.green {
    background-color: $hospital-green;
  }
  &.orange {
    background-color: $bright-orange;
  }
  &.large {
    font-size: x-large;
  }
}