<div id="splash">
	<div id="top" class="medium">
		<h1>Welcome to the</h1>
	  <cdn-image cloudinaryId="opportunity-game/logo.svg" width="200" autoFormat="false" alt="Portland of Opportunity logo"></cdn-image>
	  <h1>GAME</h1>

		<p>Move to Portland, Maine as an immigrant or refugee. Visit real places in Portland to meet people, learn English, and get job training, but don’t run out of time or money!</p>
		<p>Complete a <span class="bold">survey</span> afterwards to tell city government how to do a better job helping immigrants and refugees.</p>
		<p id="small">To learn more about how to use this game in your community, contact <span class="bold">jtrujillo@portlandmaine.gov</span>.</p>

	</div>
	
	<div id="wave"></div>

	<div id="bottom">
		<app-button id="enter" label="Enter" clickData="true" (clickEvent)="showGame()" class="gold" ariaLabel="Enter the game"></app-button>
		<div id="copy">
			<div id="img">
			  <cdn-image cloudinaryId="opportunity-game/el-logo.svg" width="50" autoFormat="false" alt="Engagement Lab logo"></cdn-image>
			</div>
			<div id="txt">
				Portland of Opportunity is brought to you by the Portland Office of Economic Opportunity and developed by the Engagement Lab at Emerson College.
			</div>
		</div>
	</div>

</div>

<div id="bg">
</div>
<div id="start">

	<div class="vert-center">

		<div class="row">
			<div id="logo" class="col-10 col-md-5 col-centered">
			  <cdn-image cloudinaryId="opportunity-game/logo.svg" width="650" autoFormat="false" alt="Portland of Opportunity logo"></cdn-image>
			</div>
		</div>

		<div id="new">
			<app-button label="New Game" clickData="true" (clickEvent)="newGame()" class="large gold" ariaLabel="Start new Game"></app-button>
		</div>
	</div>
</div>
		
<game-character id="characters-parent" class="hidden"></game-character>

<div id="footer" class="bold">Office of Economic Opportunity</div>