@import "~sass/_variables";

@include keyframes('backgroundMove') {
	from {background-position: 0 0;}
  to {background-position: 0 130%;}
}

#bg {

	position: fixed;
	visibility: hidden;
	transition: background-image 1s ease-in-out;

	background-image: cdn-image('confetti-mobile-top', c_scale, w_480, f_auto);
	background-repeat: no-repeat;
	background-position-x: 35%;

	height: 50vh;
	width: 100%;

  @include game-width();
	@include mq($from: tablet) {
		background-image: cdn-image('confetti');
		background-repeat: repeat-x;
	}

}

#start {
	
	position: relative;
	height: 97vh;
  
  @include game-width();

}

#new {
  float: none;
	visibility: hidden;
  margin: 0 auto;
  font-size: xx-large;
  text-align: center;
}

#logo {
	display: none;
	img {
		width: 100%;
	}
}

#characters-parent {
	position: relative;
}

#footer {
	visibility: hidden;
	color: $gold;
	font-size: large;
	text-align: center;
	margin-top: -5%;
}