@import "~sass/_variables";

#wellbeing {

	position: absolute;
	z-index: 20;
	left: 43vw;

	#icon {
		::ng-deep img {
			position: relative;
			height: 10px;
			top: -4px;
		}
	}

  #bar-parent {
		svg {			
			position: relative;
			display: block;
	  	margin-right: auto;
			margin-left: auto;
			margin-top: -2%;
			z-index: 200;
		}
  }

	#bar {
		display: block;
		width: 177px;
		margin-left: 6%;

		height: 10px;
		border-radius: 10px;

		background: black;
		border: 1px solid white;
		
		#inner {
			display: block;
			height: 8px;
			width: 0px;
			border: solid 1px black;
	    border-radius: 10px;
			background-image: cdn-image('toolbar/wellbeing-fill');
			background-repeat: repeat-x;
			@include transition(width, .7s, ease-in);
		}
	}
}