@import "~sass/_variables";

label {
	display: block;
}

#wait {
	position: absolute;
  width: 100%;
  max-width: 425px;
  height: 97vh;
  z-index: 25;

	background: black;
	color: white;
	@include mq($until: 320px) {
		height: 160vh;
	}

	h2 {
		font-size: 5em;
		#ellipses {
			letter-spacing: .3em;
		}
		.letter {
			position: relative;
			visibility: hidden;
		}
	}
}
#bubble {
	visibility: hidden;
	.bubble {
		width: 100%;
		font-size: x-large;
	}
}


.questionnaire {
	font-size: x-large;

	.row {
		min-height: 140px;
	}
	.vert-center {
		top: 30%;
	}

	.image {
		border: solid 4px $gold;
		border-radius: 20px;
	}

	.container {
		text-align: center;
	}
	
	/* Hide the browser's default radio button */
	.container input {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 1000%;
	  opacity: 0;
	  z-index: 100;
	}

	/* Create a custom radio button */
	.radio {
	  position: absolute;
	  display: inline-block;
	  border: solid 4px $gold;
	  top: 0;
	  left: 25%;
	  height: 100px;
	  width: 100px;
	  // padding-top: 8%;
	  border-radius: 50%;
	}

	/* When the radio button is checked, add a blue background */
	.container input:checked ~ .radio {
	  background-color: $gold;
	  color: white;
	}
	.container input:disabled ~ .radio {
	  opacity: .5;
	  color: white;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.radio:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	.container input:checked ~ .radio:after {
	  display: block;
	}

	/* Style the indicator (dot/circle) */
	.container input:after {
	  top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
	}

}

#welcome {
	&.hidden {
		display: none;
	}
	img {
		width: 100%;
	}
}

#characters {
  float: none;
  margin: 0 auto;
}

#character-detail {
	h3 {
		color: $gold;
		text-align: center;
		font-size: larger;
		padding-bottom: 5%;
	}
	.name {
		text-align: center;
	}	
	.portrait {
		text-align: end;
	}
	.goals {
		background-image: cdn-image('jce-banner');
    background-size: contain;
    background-repeat: no-repeat;

		font-size: x-large;
		color: $gold;

		.row {
			margin-left: 1%;
		}
		.no-pad { 
			padding-top: 5%;
		}
		.slash { 
			color: $greyish-brown;
		}
	}
}

#goal {
	font-size: 4em;
	text-align: center;
}

.character {

	&.selected {
		@include flex(0, 0, 100%);
		
		.bio {
			display: block;
			@include transition(all, 1s, linear 2s);
		}
		::ng-deep img {
			display: block;
			width: 40%;
			margin-right: auto;
			margin-left: auto;
		}

	}
	&.hidden {
		width: 0;
		@include flex(0, 0, 0);
	}
}
.character-btn {
	cursor: pointer;
}

#buttons {
  float: none;
  margin: 0 auto;
  font-size: xx-large;
  text-align: center;
  #submit-btn {
  	font-size: large;
  }
}