@import "~sass/_variables";

label {
	display: block;
}

.bubble {
	width: 100%;
	font-size: small;
}

.questionnaire {

	::ng-deep img {
		max-width: 20%;
	}
	#labels {
		font-size: xx-large;
	}

	.buttons {
		margin-bottom: 25%;
		margin-right: auto;
		margin-left: auto;
	}

	.container {
		text-align: center;
	}
	
	/* Hide the browser's default radio button */
	.container input {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 45px;
	  width: 45px;
	  opacity: 0;
	  z-index: 100;
	}

	/* Create a custom radio button */
	.radio {
	  position: absolute;
	  display: inline-block;
	  border: solid 4px $gold;
	  top: 0;
	  left: 0;
	  height: 45px;
	  width: 45px;
	  padding-top: 8%;
	  border-radius: 50%;
	}

	/* When the radio button is checked, add a blue background */
	.container input:checked ~ .radio {
	  background-color: $gold;
	  color: white;
	}
	.container input:disabled ~ .radio {
	  opacity: .5;
	  color: white;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.radio:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	.container input:checked ~ .radio:after {
	  display: block;
	}

	/* Style the indicator (dot/circle) */
	.container input:after {
	  top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
	}

}

#welcome {
	&.hidden {
		display: none;
	}
	img {
		width: 100%;
	}
}

#characters {
  float: none;
  margin: 0 auto;
}

#character-detail {
	h3 {
		color: $gold;
		text-align: center;
		font-size: larger;
		padding-bottom: 5%;
	}
	.name {
		text-align: center;
	}	
	.portrait {
		text-align: end;
	}
	.goals {
		background-image: cdn-image('jce-banner');
    background-size: contain;
    background-repeat: no-repeat;

		font-size: x-large;
		color: $gold;

		.row {
			margin-left: 1%;
		}
		.no-pad { 
			padding-top: 5%;
		}
		.slash { 
			color: $greyish-brown;
		}
	}
}

#goal {
	font-size: 4em;
	text-align: center;
}

.character {

	&.selected {
		@include flex(0, 0, 100%);
		
		.bio {
			display: block;
			@include transition(all, 1s, linear 2s);
		}
		::ng-deep img {
			display: block;
			width: 40%;
			margin-right: auto;
			margin-left: auto;
		}

	}
	&.hidden {
		width: 0;
		@include flex(0, 0, 0);
	}
}
.character-btn {
	cursor: pointer;
}

#buttons {
  float: none;
  margin: 0 auto;
  font-size: xx-large;
  text-align: center;
  #back {
  	width: 60px;
		height: 60px;
		background-color: $gold;
    border-radius: 50%;
  }
  #submit-btn-mobile {
  	font-size: large;
  }
}