<div id="logo">
  <cdn-image cloudinaryId="opportunity-game/logo.svg" width="650" autoFormat="false" alt="Portland of Opportunity logo"></cdn-image>
</div>
<div id="welcome" class="hidden">
  <cdn-image cloudinaryId="opportunity-game/welcome.svg" width="650" autoFormat="false" alt="Welcome to Portland logo"></cdn-image>
</div>

<div class="row">
	<div *ngFor="let character of characters; let i = index;" class="col-6 col-md-3 character" (click)="chooseCharacter($event)">
		<cdn-image cloudinaryId="opportunity-game/characters/{{i+1}}.svg" width="150" autoFormat="false" alt="Character portrait #{{i+1}}" class="character-btn"></cdn-image>
		<p class="bio">{{character.bio}}</p>
	</div>
</div>

<button id="back" (click)="goBack()">back</button>
<app-button label="Submit" route="/game/home" ariaLabel="Submit"></app-button>

<!-- Career
<fieldset name="career_ranking">
	<input type="radio" name="career_ranking" value="0" (change)="onSelectionChange($event)"/>
	<input type="radio" name="career_ranking" value="1" (change)="onSelectionChange($event)"/>
	<input type="radio" name="career_ranking" value="2" (change)="onSelectionChange($event)"/>
	<input type="radio" name="career_ranking" value="3" (change)="onSelectionChange($event)"/>
	<input type="radio" name="career_ranking" value="4" (change)="onSelectionChange($event)"/>
</fieldset>

Engagement
<fieldset name="engagement_ranking">
	<input type="radio" name="engagement_ranking" value="0" (change)="onSelectionChange($event)"/>
	<input type="radio" name="engagement_ranking" value="1" (change)="onSelectionChange($event)"/>
	<input type="radio" name="engagement_ranking" value="2" (change)="onSelectionChange($event)"/>
	<input type="radio" name="engagement_ranking" value="3" (change)="onSelectionChange($event)"/>
	<input type="radio" name="engagement_ranking" value="4" (change)="onSelectionChange($event)"/>
</fieldset>

Health
<fieldset name="health_ranking">
	<input type="radio" name="health_ranking" value="0" (change)="onSelectionChange($event)"/>
	<input type="radio" name="health_ranking" value="1" (change)="onSelectionChange($event)"/>
	<input type="radio" name="health_ranking" value="2" (change)="onSelectionChange($event)"/>
	<input type="radio" name="health_ranking" value="3" (change)="onSelectionChange($event)"/>
	<input type="radio" name="health_ranking" value="4" (change)="onSelectionChange($event)"/>
</fieldset>
 -->


<!-- <label for="always">not important</label>
<label for="change">very important</label> -->