<div id="wait" class="col-6 hidden">

	<h2>
		<span style.color="#{{letter.color}}" class="letter" *ngFor="let letter of textObject">{{letter.string}}</span>

		<div id="ellipses" class="hidden">
			...
		</div>
	</h2>

	<div class="row">
		<div class="col-1 col-centered">
		</div>
		<div class="col-3 col-centered">
			<div id="wait-text">
			  <cdn-image cloudinaryId="opportunity-game/please-wait.svg" width="650" autoFormat="false" alt="Please wait text"></cdn-image>
			</div>
		</div>
	</div>

</div>

<div id="bubble" class="col-6 hidden">
	<div class="bubble">
			What is most important to you?<br />Select one.
	</div>
</div>

<div class="row">
	<div id="welcome" class="col-10 col-md-5 col-centered hidden">
	  <cdn-image cloudinaryId="opportunity-game/welcome.svg" width="650" autoFormat="false" alt="Welcome to Portland logo"></cdn-image>
	</div>
</div>

<div id="characters" class="col-10 hidden">
	<div class="row">
		<div *ngFor="let character of characters; let i = index;" class="col-5 col-md-3 col-centered character" (click)="chooseCharacter(i)">
			<cdn-image cloudinaryId="opportunity-game/characters/{{character.image}}.svg" height="164" autoFormat="false" alt="Character portrait #{{i+1}}" class="character-btn"></cdn-image>
		</div>
	</div>
</div>

<div id="character-detail" class="col-12 col-md-6 auto hidden">
		<div *ngFor="let character of characters; let i = index;" id="detail-{{i}}" class="detail hidden">
			<div class="name no-margin"><h1>{{character.name}}</h1></div>
			
			<div class="row">
				<div class="portrait no-pad col-3">
					<cdn-image cloudinaryId="opportunity-game/characters/{{character.image}}.svg" width="150" autoFormat="false" alt="Character portrait for {{character.name}}" class="character-btn"></cdn-image>
				</div>

				<div class="col-3">
					<cdn-image cloudinaryId="opportunity-game/icons/wellbeing-goal.svg" width="175" alt="Wellbeing goal icon"></cdn-image>
					<div id="goal" class="bold">{{wellbeingGoal}}</div>
				</div>
			</div>

			<div class="bio medium col-10 auto">{{character.bio}}</div>
		</div>

		<div id="buttons">
			<!-- <button id="back" class="vert-center" (click)="goBack()"><-</button> -->
			<app-button label="Start" ariaLabel="Start Game" clickData="true" (clickEvent)="openTutorial()" class="green"></app-button>
		</div>
</div>

<div id="questionnaire-mobile" class="questionnaire">

	<div class="col-6 auto">
		
		<div id="english" class="row">
			<div class="col-3 container">
				<input class="input" type="radio" name="english" value="1" (mouseenter)="onSelectionHover($event)" (mouseleave)="onSelectionLeave($event)" (change)="onSelectionChange($event)"/>
				<span class="radio">
					<cdn-image cloudinaryId="opportunity-game/icons/english.svg" alt="Learn English icon"></cdn-image>
				</span>
				
			</div>
			<div class="col-3 no-pad">
				<div class="bold vert-center">Learn English</div>
			</div>
		</div>

		<div id="job" class="row">
			<div class="col-3 container">
				<input class="input" type="radio" name="job" value="2" (mouseenter)="onSelectionHover($event)" (mouseleave)="onSelectionLeave($event)" (change)="onSelectionChange($event)"/>
				<span class="radio">
					<cdn-image cloudinaryId="opportunity-game/icons/training-color.svg" alt="Get a Job icon"></cdn-image>
				</span>
				
			</div>
			<div class="col-3 no-pad">
				<div class="bold vert-center">Get a Job</div>
			</div>
		</div>

		<div id="people" class="row">
			<div class="col-3 container">
				<input class="input" type="radio" name="people" value="3" (mouseenter)="onSelectionHover($event)" (mouseleave)="onSelectionLeave($event)" (change)="onSelectionChange($event)"/>
				<span class="radio">
					<cdn-image cloudinaryId="opportunity-game/icons/community.svg" alt="Meet People icon"></cdn-image>
				</span>
				
			</div>
			<div class="col-3 no-pad">
				<div class="bold vert-center">Meet People</div>
			</div>
		</div>


	</div>
	<div id="buttons">
		<app-button id="submit-btn" label="Get My Character" ariaLabel="Click/tap to see character" clickData="true" (clickEvent)="assignCharacter()" class="green hidden col-centered"></app-button>
	</div>

</div>
