<div id="toolbar" class="no-margin">
	 
	<div id="ellipses" class="hidden" (click)="openDrawer()">
		<cdn-image cloudinaryId="opportunity-game/toolbar/ellipses.svg" autoFormat="true" alt="'More' toolbar icon"></cdn-image>
	</div>

	<div id="main" class="row no-margin">
		
		<div class="flex">
			<span id="player" class="col-3 col-lg-1 icon">
				<cdn-image cloudinaryId="opportunity-game/toolbar/char_{{playerIndex}}.svg" alt="Player toolbar icon"></cdn-image>
			</span>
			<span id="money" class="col-4 col-md-1 col-lg-1 icon">
				<cdn-image cloudinaryId="opportunity-game/toolbar/money.svg" alt="Money toolbar icon"></cdn-image>
				<span class="label bold no-pad">{{money}}</span>
			</span>

			<span id="actions" class="col-4 col-md-1 col-lg-1 icon">
				<cdn-image cloudinaryId="opportunity-game/toolbar/actions.svg" alt="Actions toolbar icon"></cdn-image>
				<span class="col-1 col-md-1 col-lg-1 label bold no-pad">{{actions}}</span>
			</span>

			<span id="community-lvl" [class.disabled]="commLevel === 0" class="col-4 col-lg-1 icon-lg">
				<cdn-image cloudinaryId="opportunity-game/toolbar/community-lvl.svg" alt="Community level toolbar icon"></cdn-image>
				<div class="badge bold">{{commLevel}}</div>
			</span>

			<span id="job-lvl" [class.disabled]="jobLevel === 0" class="col-4 col-lg-1 icon-lg">
				<cdn-image cloudinaryId="opportunity-game/toolbar/job-lvl.svg" alt="Job level toolbar icon"></cdn-image>
				<div class="badge bold">{{jobLevel}}</div>
			</span>

			<span id="english-lvl" [class.disabled]="englishLevel === 0" class="col-4 col-lg-1 icon-lg">
				<cdn-image cloudinaryId="opportunity-game/toolbar/english-lvl.svg" alt="English level toolbar icon"></cdn-image> 
				<div class="badge bold">{{englishLevel}}</div>
			</span>
		</div>

	</div>

	<div id="drawer" class="hidden">

		<div id="english-lvl" [class.disabled]="hasTransit === false" class="icon-lg">
				<cdn-image cloudinaryId="opportunity-game/toolbar/transit.svg" alt="Public transit toolbar icon"></cdn-image> 
		</div>
		<div id="english-lvl" [class.disabled]="hasJob === false" class="icon-lg">
			<cdn-image cloudinaryId="opportunity-game/toolbar/job.svg" alt="Job toolbar icon"></cdn-image>
		</div>	

	</div>

</div>
