<div id="toolbar" class="btn no-margin">

	<div id="notifications" class="col-6 bold">
			<div class="row reward" id="reward_{{opportunity._id}}" *ngFor="let opportunity of rewardOpportunities; let i = index;">
				<div class="col-1">
					<cdn-image cloudinaryId="opportunity-game/icons/{{opportunity.reward.iconDetail}}.svg" alt="{{opportunity.name}} reward icon"></cdn-image>
				</div>  
				<div class="col-5">
					{{opportunity.rewardFlavor}}
				</div>
			</div>

			<div id="transit-cheevo" class="row cheevo hidden">
					<div class="col-1">
						<cdn-image cloudinaryId="opportunity-game/toolbar/transit-color.svg" alt="Public transit unlocked icon"></cdn-image>
					</div>  
					<div class="col-5">
						Public Transit unlocked!
					</div>
			</div>
			<div id="job-cheevo" class="row cheevo hidden">
					<div class="col-1">
						<cdn-image cloudinaryId="opportunity-game/toolbar/job-color.svg" alt="Job unlocked icon"></cdn-image>
					</div>  
					<div class="col-3">
						Job started!
					</div>
			</div>
			<div id="payday" class="row hidden">
					<div class="col-2">
						PAY DAY!
					</div>  
					<div class="col-4">
						You earned +5 cash
					</div>
			</div>

	</div>


	<div id="main" class="row no-margin" (click)="openDrawer();">
		
		<div class="flex">

			<span id="player" class="col-1 icon no-pad">
				<cdn-image cloudinaryId="opportunity-game/toolbar/char_{{playerIndex}}.svg" alt="Player toolbar icon"></cdn-image>
			</span>
			<span id="money" class="col-2 icon no-pad">
				<!-- <cdn-image cloudinaryId="opportunity-game/toolbar/money.svg" alt="Money toolbar icon"></cdn-image> -->
				<svg viewBox="0 0 31 54">
				  <g fill="none" fill-rule="evenodd" transform="matrix(1, 0, 0, 1, 0, 4.440892098500626e-16)">
				    <path fill="#000" d="M21.164 40.98v-9.579c1.442 1.237 2.334 2.928 2.334 4.79 0 1.863-.892 3.552-2.334 4.79m-5.835 2.067a9.73 9.73 0 0 1-1.168-.078V29.284c.385.032.774.05 1.168.05.397 0 .784.032 1.166.078V42.97c-.382.046-.77.078-1.166.078m-8.17-25.24c0-1.862.892-3.552 2.334-4.79v9.58c-1.442-1.237-2.335-2.926-2.335-4.79m8.17-6.856c.398 0 .785.031 1.167.078v13.686c-.384-.032-.773-.05-1.166-.05a9.73 9.73 0 0 1-1.168-.079V11.03a9.73 9.73 0 0 1 1.168-.078m5.835 14.978V13.019c1.442 1.237 2.334 2.927 2.334 4.79h4.67c0-4.469-2.85-8.35-7.004-10.262V2.49h-4.669v3.843c-.384-.03-.773-.05-1.166-.05-.394 0-.783.02-1.168.05V2.49H9.493v5.057C5.34 9.46 2.49 13.34 2.49 17.81c0 4.47 2.85 8.35 7.002 10.26V40.98c-1.442-1.237-2.335-2.926-2.335-4.789H2.491c0 4.47 2.85 8.35 7.002 10.261v5.058h4.668v-3.843c.385.031.774.05 1.168.05.393 0 .782-.019 1.166-.05v3.843h4.67v-5.058c4.152-1.91 7.002-5.791 7.002-10.26 0-4.47-2.85-8.35-7.003-10.262"></path>
				    <path id="stroke" stroke="#FFF" stroke-width="2" d="M22.164 34.43v-3.029l-1.651.759c.762.654 1.323 1.43 1.651 2.27zm0 3.522c-.328.84-.889 1.616-1.651 2.27l1.651.758v-3.028zm-6.669 4.094v-11.71a6.83 6.83 0 0 0-.166-.002h-.168v11.712a6.643 6.643 0 0 0 .334 0zM8.493 16.048c.327-.84.889-1.616 1.65-2.27l-1.65-.76v3.03zm0 3.521v3.03l1.65-.76c-.761-.654-1.323-1.43-1.65-2.27zm6.668-7.615v11.71l.168.002h.166V11.955a6.83 6.83 0 0 0-.334 0zm7.003 13.351c4.27 2.203 7.003 6.32 7.003 10.886 0 4.567-2.733 8.685-7.003 10.886v5.433h-6.669v-3.794a13.687 13.687 0 0 1-.334 0v3.794H8.493v-5.433c-4.27-2.202-7.002-6.32-7.002-10.886v-1h6.667v1c0 .605.115 1.197.335 1.76v-9.257C4.223 26.493 1.49 22.376 1.49 17.81c0-4.566 2.732-8.683 7.002-10.886V1.49h6.668v3.794a13.732 13.732 0 0 1 .334 0V1.49h6.67v5.433c4.27 2.203 7.002 6.32 7.002 10.886v1h-6.669v-1c0-.605-.114-1.198-.334-1.761v9.257z"></path>
				  </g>
				</svg>
				<span class="label bold no-pad">{{money}}</span>
			</span>

			<span id="actions" class="col-2 icon no-pad">
				<cdn-image cloudinaryId="opportunity-game/toolbar/actions.svg" alt="Actions toolbar icon"></cdn-image>
				<span class="col-1 col-md-1 col-lg-1 label bold no-pad">{{actions}}</span>
			</span>

			<span id="open-btn">
				<div>^</div>
			</span>

			<div id="mobile-drawer" class="flex">

				<span id="community-lvl" class="col-2 icon-lg">
					<cdn-image cloudinaryId="opportunity-game/toolbar/community-lvl.svg" alt="Community level toolbar icon"></cdn-image>
					<div class="badge bold">{{commLevel}}</div>
					
					<div class="notification">
						<cdn-image cloudinaryId="opportunity-game/icons/community.svg" width="40" alt="Community level-up icon"></cdn-image>
						<span class="amt bold"></span>
					</div>
				</span>

				<span id="job-lvl" class="col-2 icon-lg">
					<cdn-image cloudinaryId="opportunity-game/toolbar/job-lvl.svg" alt="Job level toolbar icon"></cdn-image>
					<div class="badge bold">{{jobLevel}}</div>
					
					<div class="notification">
						<cdn-image cloudinaryId="opportunity-game/icons/training-color.svg" width="40" alt="Job level-up icon"></cdn-image>
						<span class="amt bold"></span>
					</div>
				</span>

				<span id="english-lvl" class="col-2 icon-lg">
					<cdn-image cloudinaryId="opportunity-game/toolbar/english-lvl.svg" alt="English level toolbar icon"></cdn-image> 
					<div class="badge bold">{{englishLevel}}</div>

					<div class="notification">
						<cdn-image cloudinaryId="opportunity-game/icons/english.svg" width="40" alt="English level-up icon"></cdn-image>
						<span class="amt bold"></span>
					</div>
				</span>
			</div>
		</div>

	</div>

	<div id="drawer" class="row no-margin" (click)="openDrawer()">

		<div id="job" [class.disabled]="hasJob === undefined" class="col-1 icon-lg">
				<cdn-image cloudinaryId="opportunity-game/toolbar/transit.svg" alt="Public transit toolbar icon"></cdn-image> 
		</div>
		<div *ngIf="hasTransit === undefined" class="col-2 medium label no-pad">You don’t have transportation yet!</div>
		<div *ngIf="hasTransit === true" class="col-2 medium label no-pad">Bus pass</div>

		<div id="transit" [class.disabled]="hasTransit === undefined" class="col-1 icon-lg">
			<cdn-image cloudinaryId="opportunity-game/toolbar/job.svg" alt="Job toolbar icon"></cdn-image>
		</div>	
		<div *ngIf="hasTransit === undefined" class="col-2 medium label no-pad">You don’t have a job yet!</div>
		<div *ngIf="hasTransit === true" class="col-2 medium label no-pad">Part-time Job</div>

	</div>

</div>
