@import "~sass/_variables";

#toolbar {

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	background: black;
	color: white;

	@include mobile-only {
		.flex {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}	
	}

	.icon {
		padding-right: 0;
		::ng-deep img {
    	max-height: 35px;
    	max-width: 40px;
		}
	}
	.icon-lg {
		::ng-deep img {
    	max-width: 40px;
		}
		&.disabled {
			@include filter(opacity, 50%);
			.badge {
				display: none;
			}
		}
		.badge {
			width: 15px;
			height: 15px;
			color: black;
			text-align: center;
			font-size: small;
			background-color: $gold;
	    border-radius: 50%;
	    position: absolute;
			top: 0;
			left: 0;
			transform: translate(250%, 150%);

		}
	}
	.open {
		display: flex!important;
		max-height: 50px!important;
		
		// height: auto;
	}

  // @include transition('all', 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
}

#ellipses {
	position: absolute;
	z-index: 100;
  left: 62%;
  top: 30%;
	::ng-deep img {
  	max-height: 40px;
	}
	@include mobile-only {
		display: block;
	}
}
#main {

	@include mobile-only {
		#mobile-drawer {
			max-height: 0;
		  @include transition(max-height, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
		}
	}
	@include mq($from: tablet) {
		display: block;
		min-width: 50%;
		float: left;
		#mobile-drawer {
			display: inline;
		}
	}

	#open-btn {
		&.open {
			div {
				@include transform(rotate(180deg));
			  @include transition(transform, 150ms, ease-in-out);	
			}
		}
	}
}
#drawer { 
	@include mq($from: tablet) {
		float: right;
		display: flex;
	}
	@include mobile-only {
		max-height: 0;
	  @include transition(max-height, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
	}
	.icon-lg { 
		padding-right: 0;
		&.disabled {
			@include filter(opacity, .3);
		}
	}
	.label {
		color: $greyish-brown;
		font-size: x-small;
	}
}

.label {
	font-size: xx-large;
}