<div id="toolbar" class="btn no-margin">

	<div id="notifications" class="col-6 bold">
			<div class="row reward" id="reward_{{opportunity._id}}" *ngFor="let opportunity of rewardOpportunities; let i = index; ">
				<div class="col-1">
					<cdn-image cloudinaryId="opportunity-game/icons/{{opportunity.reward.iconDetail}}.svg" alt="{{opportunity.name}} reward icon"></cdn-image>
				</div>  
				<div class="col-5">
					{{opportunity.rewardFlavor}}
				</div>
			</div>
			<div class="row reward location" id="loc_{{location._id}}" *ngFor="let location of rewardLocations; let i = index;">
				<div class="col-1">
					<cdn-image cloudinaryId="opportunity-game/icons/map.svg" alt="{{location.name}} unlocked icon"></cdn-image>
				</div>  
				<div class="col-5">
					{{location.name}} unlocked
				</div>
			</div>

			<div id="transit-cheevo" class="row cheevo hidden">
					<div class="col-1">
						<cdn-image cloudinaryId="opportunity-game/toolbar/transit-color.svg" alt="Public transit unlocked icon"></cdn-image>
					</div>  
					<div class="col-5">
						Public Transit unlocked!
					</div>
			</div>
			<div id="job-cheevo" class="row cheevo hidden">
					<div class="col-1">
						<cdn-image cloudinaryId="opportunity-game/toolbar/job-color.svg" alt="Job unlocked icon"></cdn-image>
					</div>  
					<div class="col-3">
						Job started!
					</div>
			</div>
			<div id="payday" class="row hidden">
					<div class="col-2">
						PAY DAY!
					</div>  
					<div class="col-4">
						You earned +5 cash
					</div>
			</div>

	</div>

	<div id="main" class="row no-margin" (click)="openDrawer();">
		
		<div class="flex">
			
			<div id="stats">
				<div id="money" class="icon no-pad">
					<cdn-image cloudinaryId="opportunity-game/toolbar/money.svg" alt="Money toolbar icon"></cdn-image>
					<span class="label no-pad">{{money}}</span>
				</div>
				<div id="actions" class="icon no-pad">
					<cdn-image cloudinaryId="opportunity-game/toolbar/actions.svg" alt="Actions toolbar icon"></cdn-image>
					<span class="col-1 col-md-1 col-lg-1 label no-pad">{{actions}}</span>
				</div>
			</div>

			<div id="levels" class="col-4 auto">

				<span id="community-lvl" class="icon-lg community">
					<div class="badge bold">{{commLevel}}</div>
					<span class="amt bold"></span>
				</span>

				<span id="job-lvl" class="icon-lg training">
					<div class="badge bold">{{jobLevel}}</div>
					<span class="amt bold"></span>
				</span>

				<span id="english-lvl" class="icon-lg english">
					<div class="badge bold">{{englishLevel}}</div>
					<span class="amt bold"></span>
				</span>

			</div>

			<span id="open-btn">
				<div>
					<cdn-image cloudinaryId="opportunity-game/toolbar/open-close.svg" alt="Open/close button icon"></cdn-image>
				</div>
			</span>

			<div id="mobile-drawer" class="flex">
			</div>
		</div>

	</div>

	<div id="drawer" class="row no-margin" (click)="openDrawer()">

		<div id="job" [class.disabled]="hasJob === undefined" class="col-1 icon-lg">
				<cdn-image cloudinaryId="opportunity-game/toolbar/transit.svg" alt="Public transit toolbar icon"></cdn-image> 
		</div>
		<div *ngIf="hasTransit === undefined" class="col-2 medium label no-pad">You don’t have transportation yet!</div>
		<div *ngIf="hasTransit === true" class="col-2 medium label no-pad">Bus pass</div>

		<div id="transit" [class.disabled]="hasJob === undefined" class="col-1 icon-lg">
			<cdn-image cloudinaryId="opportunity-game/toolbar/job.svg" alt="Job toolbar icon"></cdn-image>
		</div>	
		<div *ngIf="hasJob === undefined" class="col-2 medium label no-pad">You don’t have a job yet!</div>
		<div *ngIf="hasJob === true" class="col-2 medium label no-pad">Part-time Job</div>

	</div>

</div>
