@import "~sass/_variables";

#tutorial {
	position: absolute;
  width: 100%;
  max-width: 425px;
  height: 120vh;
  z-index: 25;
	background: black;
	color: white;
	@include mq($until: 320px) {
		height: 160vh;
	}

	.col-2, .col-3 {
		text-align: center;
	}
	h2 {
		text-transform: uppercase;
		font-size: xx-large;
	}
	p {
		color: white;
		font-size: x-large;
		font-weight: bold;	
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;
		letter-spacing: 0.9px;
	
		.orange {
			color: $bright-orange;
	  }
	  .gold {
			color: $gold;
	  }
	}
	#perc {
  	font-size: 4em;
  	margin: 0;
  	p {
  		font-size: .3em;
	    margin: 0;
  	}
  }

  #bar-parent {
		svg {			
			display: block;
	  	margin-right: auto;
			margin-left: auto;
			margin-top: 5%;
		}
  }

	#bar {
		display: block;
		width: 176px;
		height: 28px;
		background: black;
		border: 2px solid white;
		border-radius: 20px;
  	margin-right: auto;
		margin-left: auto;
		margin-top: 5%;

		#inner {
			display: block;
			position: relative;
			top: 3px;
			left: 2%;
			height: 18px;
			width: 0;
			border-radius: 20px;
			background-size: contain;
			background-image: cdn-image('toolbar/wellbeing-fill');
			background-repeat: repeat-x;
		}
	}

	#buttons {
	  float: none;
	  margin: 0 auto;
	  font-size: xx-large;
	  text-align: center;
	  margin-top: 5%;

	  ::ng-deep a {
	  	padding-top: 2%;
	  	max-height: 50px;
	  }

	  #start-btn {
	  	font-size: x-large;
	  }
	}

}