@import "~sass/_variables";

#back {
	display: inline-block;
  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
 
  &:hover {
    @include scale(1.2);
  }
  &:active {
    @include scale(.8);
  }
}

.location {
	min-height: 480px;
	height: 100%;
	@include mobile-only {
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	&.career {
		background-image:  cdn-image('locations/background/career', c_scale, w_1440);
		@include mobile-only {
			background-image:  cdn-image('locations/background/career_mobile');
		}
	}
	&.child-care {
		background-image:  cdn-image('locations/background/child-care', c_scale, w_1440);
		@include mobile-only {
			background-image:  cdn-image('locations/background/child-care_mobile');
		}
	}
	&.cultural-center {
		background-image:  cdn-image('locations/background/cultural-center', c_scale, w_1440);
		@include mobile-only {
			background-image:  cdn-image('locations/background/cultural-center_mobile');
		}
	}
	&.hospital {
		background-image:  cdn-image('locations/background/hospital', c_scale, w_1440);
		@include mobile-only {
			background-image:  cdn-image('locations/background/hospital_mobile');
		}
	}
	&.info-center {
		background-image:  cdn-image('locations/background/info-center', c_scale, w_1440);
		@include mobile-only {
			background-image:  cdn-image('locations/background/info-center_mobile');
		}
	}
	&.school {
		background-image:  cdn-image('locations/background/school', c_scale, w_1440);
		@include mobile-only {
			background-image:  cdn-image('locations/background/school_mobile');
		}
	}
}

.badge {
	position: relative;
	display: inline-block;
	width: 25px;
	top: 30px;
  padding-right: 30px;
  z-index: 1;
  float: left;
  left: 9%;
	::ng-deep img {
		width: 25px;
	}
}

#list {
	overflow: scroll;
	padding-bottom: 5%;
	margin: auto;

  height: 82vh;

	button {
		cursor: auto;
		margin-top: 6%;
		min-height: 125px;
		&.unlocked {
			@include box-shadow(4px, 4px, 0, #000000);
			cursor: pointer;
		}
	}
	.name {
		text-align: left;
	}
	.costs {
		bottom: 7%;
		text-align: right;
		&.used {
			color: $pinkish-grey;
			font-size: x-small;
		}
		.cost {
			height: 40px;
			background-repeat: no-repeat;
			&.notenough {
				color: #999;
			}
		}
		.money {
			background-image: cdn-image('icons/money-cost', c_scale, w_15);
			span {
				padding-left: 5%;
		    display: flex;
			}
			&.notenough {
				background-image: cdn-image('icons/cost-locked', c_scale, w_15);
			}
		}
		.action {
			background-image: cdn-image('icons/action-cost', c_scale, w_15);
			span {
				padding-left: 25%;
		    display: flex;
			}
			&.notenough {
				background-image: cdn-image('icons/action-locked', c_scale, w_15);
			}
		}
		.community {
			background-image: cdn-image('icons/community-clear', c_scale, w_15);
			&.notenough {
				background-image: cdn-image('icons/community-locked', c_scale, w_15);
			}
		}
		.english {
			background-image: cdn-image('icons/english-clear', c_scale, w_15);
			&.notenough {
				background-image: cdn-image('icons/language-locked', c_scale, w_15);
			}
		}
		.training {
			background-image: cdn-image('icons/training-clear', c_scale, w_15);
			&.notenough {
				background-image: cdn-image('icons/training-locked', c_scale, w_15);
			}
		}
		.job {
			background-image: cdn-image('icons/job-clear', c_scale, w_15);
			&.notenough {
				background-image: cdn-image('icons/job-locked', c_scale, w_15);
			}
		}
		.transit {
			background-image: cdn-image('icons/transit-clear', c_scale, w_15);
			&.notenough {
				background-image: cdn-image('icons/transit-locked', c_scale, w_15);
			}
		}
	}
	.reward {
		width: 75px;
		max-height: 80px;
		float: right;
  	&:after {
			position: relative;
  		top: 37%;
			left: 9%;
			font-size: x-large;
  	}
  	.icon {
  		position: absolute;
	    top: 20%;
	    z-index: 0;
  	}
		::ng-deep img {
			max-height: 80px;
		}
	}
}

#details {
	.stars {
		position: absolute;
		width: 100%;
	}
	.star {
	  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));

		::ng-deep img {
			max-width: 40px;
		}
		&.nudge1 {
			margin-left: -40px;
			::ng-deep img {
				width: 20px;
			}
		}
		&.nudge2 {
			margin-left: 10px;
			::ng-deep img {
				width: 25px;
			}
		}
		&.nudge3 {
			margin-left: 35px;
			::ng-deep img {
				width: 15px;
			}
		}
		&.nudge4 {
			margin-left: 0px;
			::ng-deep img {
				width: 20px;
			}
		}
		&.nudge5 {
			margin-left: -20px;
			::ng-deep img {
				width: 10px;
			}
		}
		&.nudge6 {
			margin-left: -34px;
			::ng-deep img {
				width: 15px;
			}
		}
	}
}

.opportunity {
	text-align: center;
	font-size: large;
	background: white;
	padding: 5%;
	@include box-shadow(4px, 4px, 0, #000000);
	min-height: 250px;

	.footer {
		font-size: small;
    text-align: center;
    width: 100%;
	}

	.reward {
		::ng-deep img {
    	max-width: 120px;
		}
		.badge {
			top: 66%;
	    padding-right: 50px;
	    left: 17%;
		}
	}
	.cost {
		display: block;
		min-width: 50px;
		min-height: 45px;
		text-align: right;
		background-repeat: no-repeat;

		&.money {
			background-image: cdn-image('icons/money', c_scale, w_55);
		}
		&.action {
			background-image: cdn-image('icons/action', c_scale, w_55)
		}
		&.community {
			background-image: cdn-image('icons/community', c_scale, w_55);
		}
		&.english {
			background-image: cdn-image('icons/english', c_scale, w_55);
		}
		&.training {
			background-image: cdn-image('icons/training-color', c_scale, w_55);
		}
		&.job {
			background-image: cdn-image('icons/job', c_scale, w_55);
		}
		&.transit {
			background-image: cdn-image('icons/transit', c_scale, w_55);
		}

		.text {
			vertical-align: top;
	    display: inline-flex;
	    padding-top: 5%;
	    margin-left: -18%;
	    font-size: xx-large;
		}
		.badge {
			width: 15px;
			height: 15px;
			float: none;
			padding-right: 0;
		  background-color: $gold;
		  border-radius: 50%;
		  font-size: x-small;;
	    text-align: center;
	    display: block;
	    left: 75%;
		}
	}
	::ng-deep .app-button {
		padding: 20%;
	}
}