<div class="location {{currentLocation?.image}}">
	
	<div id="back" routerLink="/game/home" class="btn"><cdn-image cloudinaryId="opportunity-game/icons/home.svg" width="50" alt="Back to Home"></cdn-image></div>

	 	<div id="list" class="col-6">
			<button *ngFor="let opportunity of currentLocation?.opportunities" (click)="viewOpportunity(opportunity._id)" class="col-6 bold" id="listing_{{opportunity._id}}">

					<div class="name">
						{{opportunity.name}}
					</div>

					<div class="achievement" *ngIf="opportunity.effect && opportunity.effectWait > 0">
						<cdn-image cloudinaryId="opportunity-game/icons/gold_clock.svg" alt="Icon for Duration effect"></cdn-image>
					</div>
					<div class="reward" *ngIf="opportunity.locationUnlocks && opportunity.locationUnlocks.length > 0">
						<cdn-image cloudinaryId="opportunity-game/icons/map-opportunity.svg" width="75" alt="Icon for Location unlock"></cdn-image>
					</div>

					<!-- Rewards -->
					<div class="reward" *ngIf="opportunity.commReward > 0">
						<cdn-image cloudinaryId="opportunity-game/icons/community-opportunity.svg" width="75"  alt="Icon for Community reward"></cdn-image>
					</div>
					<div class="reward" *ngIf="opportunity.englishReward > 0">
						<cdn-image cloudinaryId="opportunity-game/icons/english-opportunity.svg" width="75"  alt="Icon for English reward"></cdn-image>
					</div>
					<div class="reward" *ngIf="opportunity.jobReward > 0">
						<cdn-image cloudinaryId="opportunity-game/icons/training-opportunity.svg" width="75"  alt="Icon for Job reward"></cdn-image>
					</div>
					
					<!-- Achievements -->
					<div class="reward" *ngIf="opportunity.givesTransit">
						<cdn-image cloudinaryId="opportunity-game/icons/transit-opportunity.svg" width="75"  alt="Icon for Transit achievement"></cdn-image>
					</div>
					<div class="reward" *ngIf="opportunity.givesJob">
						<cdn-image cloudinaryId="opportunity-game/icons/job-opportunity.svg" width="75"  alt="Icon for Job achievement"></cdn-image>
					</div>

					<!-- Requires: {{opportunity.type}} -->
					<div class="costs row col-6">
						<div class="{{cost.icon}} cost col-1" [class.notenough]="cost.has !== undefined && !cost.has" *ngFor="let cost of getCosts(opportunity)"><span *ngIf="cost.amt !== undefined">{{cost.amt}}</span></div>
					</div>
			</button>
		</div>

		<div id="details" class="modal hidden">
			<div *ngFor="let opportunity of currentLocation?.opportunities" class="opportunity col-5 col-centered vert-center medium hidden" id="detail_{{opportunity._id}}">
					<div>
							Would you like to learn about <span class="bold">{{opportunity.name}}</span>? 
					</div>
					<div class="row">
						<!-- Rewards -->
						<div class="reward col-5 col-centered" *ngIf="opportunity.commReward > 0">
							<cdn-image cloudinaryId="opportunity-game/icons/community.svg" alt="Icon for Community reward"></cdn-image>
						</div>
						<div class="reward col-5 col-centered" *ngIf="opportunity.englishReward > 0">
							<cdn-image cloudinaryId="opportunity-game/icons/english.svg" alt="Icon for English reward"></cdn-image>
						</div>
						<div class="reward col-5 col-centered" *ngIf="opportunity.jobReward > 0">
							<cdn-image cloudinaryId="opportunity-game/icons/training-color.svg" alt="Icon for Job reward"></cdn-image>
						</div>
						<div class="footer">
								This opportunity costs 
								<span *ngIf="opportunity.actionCost > 0 && opportunity.moneyCost <= 0">{{opportunity.actionCost}} actions.</span>
								<span *ngIf="opportunity.moneyCost > 0 && opportunity.actionCost <= 0">{{opportunity.moneyCost}} money.</span>
								<span *ngIf="opportunity.moneyCost > 0 && opportunity.actionCost > 0">{{opportunity.actionCost}} actions & {{opportunity.moneyCost}} money.</span>
						</div>
					</div>

					<div class="row">
						<app-button label="Yes" ariaLabel="Click to learn about {{opportunity.name}}" clickData="true" (clickEvent)="selectOpportunity(opportunity, opportunity._id)" class="green col-centered"></app-button>
						<app-button label="No" ariaLabel="Click to close {{opportunity.name}} window" clickData="true" (clickEvent)="backToList(opportunity._id)" class="orange col-centered"></app-button>
					</div>

			</div>
		</div>

</div>