@import "~sass/_variables";

.modal.events {
	position: fixed;
	
  top: 0;
	bottom: 0;
	margin: 0;
  
  @include game-width();
}

.event {
	text-align: center;
  font-size: large;

  &.life {  	
		background: white;
		min-height: 250px;
		@include box-shadow(4px, 4px, 0, #000000);
  }
}

.hide {
	display: none;
}
.center {	
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.full-screen {
	position: fixed;
	top: 0;
	z-index: 100;
	color: white;
  background: black;
	max-width: 425px;
  height: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  overflow: hidden;
  
	#content {
		text-align: center;
		.small {
			font-size: medium;
		}
		.large {
			font-size: large;
		}
	}

	&.events {
	  background: rgba(217, 217, 217, .8);
	  .event {
	  	display: contents;	  	
			max-width: 425px;
		  height: 100%;
	  }
	}
}

#game {
	
	background: white;
	height: 97vh;

	&.home {
		background: $white-three;
	}
	
	@include mq($from: tabletPortrait) {
		border-left: 4px solid black;
		border-right: 4px solid black;
		border-bottom: 4px solid black;
	}

}

#tutorial-parent {
	position: relative;
	z-index: 100;
}

#game-over {

	.character {
		min-height: 264px;
		background: white;
		border: solid black 20px;
		border-radius: 50%;
		::ng-deep img {
			@include transform(translateY(20px));
			clip-path: ellipse(110% 62% at 50% 32%);
		}
		&.won {
			::ng-deep img {
				@include transform(scale(1.1) translateY(7%));
				clip-path: ellipse(48% 43% at 50% 47%);
			}
		}
	}

	#perc {
		width: 80%;
		font-size: x-large;
	}
	#bar {
		display: block;
		width: 143px;
		height: 28px;
		background: black;
		border: 2px solid white;
		border-radius: 20px;

		#inner {
			display: block;
			position: relative;
			top: 3px;
			left: 2%;
			height: 18px;
			width: 96%;
			border-radius: 20px;
			background-size: cover;
			background-image: cdn-image('toolbar/wellbeing-fill');
			background-repeat: repeat-x;
			@include transition(width, .7s, ease-in);
		}
	}

	#play-again {
		font-size: large;
		text-transform: uppercase;
		vertical-align: middle;
    display: inline-flex;
    color: white;
    
	  align-items: center;
	  justify-content: center;
	  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
		
		::ng-deep img {
			right: 8px;
	    position: relative;
		  @include transition(right, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
		}

	  &:hover {
	    @include scale(1.1);
			::ng-deep img {
				right: 15px;
			}
	  }
	  &:active {
	    @include scale(.9);
	  }
	}
}

#achievement {
	#content {

		font-size: large;
		text-align: center;
		background: white;

		position: fixed;
		left: 50%;
		top: 50%;
		min-height: 250px;
		transform: translate(-50%, -50%);

		@include box-shadow(4px, 4px, 0, #000000);
		
	}
}