<div id="logo"><img src="assets/logo.png"></div>

<div id="game" [@slideAnimation]="getRouterOutletState(o)">
	<router-outlet #o="outlet"></router-outlet>
</div>

<div id="round-over-parent" class="modal" style="display: none">
	<div id="round-over">
		<h1>ROUND {{round}} OVER</h1>
		Your wellness is {{currentWellnessScore}}
		<button (click)="nextRound()">Next Round</button>
	</div>
</div>

<div id="achievement" class="modal center hide">
	<h1>UNLOCKED</h1>
	<div id="transit" class="hide">
		Public Transit!
	</div>
	<div id="job" class="hide">
		A Job!
	</div>
	<button (click)="closeCheevo()">Continue</button>
</div>

<!-- LIFE EVENTS -->
<div id="life-events" class="modal hide">
	<div *ngFor="let event of lifeEvents" id="{{event._id}}" class="hide">
		<game-event [data]="event"></game-event>
	</div>
</div>

<!-- EFFECT EVENTS -->
<div id="effect-events" class="modal hide">
	<div *ngFor="let event of effectEvents" id="{{event._id}}" class="hide">
		<game-event [data]="event"></game-event>
	</div>
</div>

<div id="toolbar-parent" style="display: none">
	<game-toolbar></game-toolbar>
</div>