@import "~sass/_variables";

.hide {
	display: none;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .8);
}

.center {	
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#logo img {
	width: 100%;
}

#round-over {
	background: black;
	color: white;
}