<app-wellbeing></app-wellbeing> 

<div id="tutorial-parent" class="hidden">

	<game-tutorial></game-tutorial>
	
</div>

<div id="game" [@slideAnimation]="getRouterOutletState(o)" class="round-{{round}}" [class.home]="atHome === true">
	
	<router-outlet #o="outlet"></router-outlet>

</div>

<div id="toolbar-parent" class="hide">
	<game-toolbar></game-toolbar>
</div>

<div id="game-over" class="col-6 full-screen hidden">
	
	<div id="content">
	
		<h1 class="col-xs-2 auto" *ngIf="wonGame === true"><cdn-image cloudinaryId="opportunity-game/game-won.svg" width="350" alt="Game won image"></cdn-image></h1>
		<h1 class="col-xs-2 auto" *ngIf="wonGame === false"><cdn-image cloudinaryId="opportunity-game/game-lost.svg" width="350" alt="Game lost image"></cdn-image></h1>

		<div class="col-5 auto character" [class.won]="wonGame === true">
			<cdn-image *ngIf="wonGame === true" cloudinaryId="opportunity-game/characters/{{character?.image}}_win.svg" width="130" alt="Image of happy character"></cdn-image>
			<cdn-image *ngIf="wonGame === false" cloudinaryId="opportunity-game/characters/{{character?.image}}_lose.svg" width="121" alt="Image of sad character"></cdn-image>
		</div>

		<div class="row">
			<div class="col-3 no-pad col-centered">
				<cdn-image *ngIf="wonGame === true" cloudinaryId="opportunity-game/icons/wellbeing.svg" width="120" alt="Wellbeing goal icon"></cdn-image>
				<cdn-image *ngIf="wonGame === false" cloudinaryId="opportunity-game/icons/wellbeing-sad.svg" width="120" alt="Wellbeing goal icon"></cdn-image>
			</div>
			
			<div class="col-3 no-pad col-centered">
				<div id="perc">{{currentWellnessScore}}%</div>
				<div id="bar">		
					<div id="inner"></div>
				</div>

			</div>
		</div>

		<div class="col-6 auto">
			<app-button label="Share Your Input" ariaLabel="{{ {desktop:'Click',mobile:'Tap'} | deviceAction }} to go to post-game survey" newWindow="true" href="{{surveyUrl}}" class="gold" *ngIf="surveyUrl !== undefined"></app-button>
			<div id="play-again" class="btn col-6" (click)="startOver()"><cdn-image cloudinaryId="opportunity-game/icons/arrow-back.svg" width="20" alt="Play again arrow icon" class=""></cdn-image>Play Again</div>
		</div>

	</div>

</div>


<div id="life-events" class="col-6 full-screen events hidden">
	<game-event [data]="event" type="life" class="event" *ngFor="let event of lifeEvents"></game-event>
</div>

<!-- EFFECT EVENTS -->
<div id="effect-events" class="col-6 full-screen events hidden">
	<game-event [data]="event" type="effect" class="event" *ngFor="let event of effectEvents"></game-event>
</div>