@import "~sass/_variables";

.modal.events {
	position: fixed;
  max-width: 425px;
  top: 0;
	bottom: 0;
	margin: 0;
}

.event {
	text-align: center;
  font-size: large;
}

.hide {
	display: none;
}
.center {	
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.full-screen {
	position: fixed;
	top: 0;
	z-index: 10;
  background: white;
	max-width: 425px;
  height: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  
	#content {
		text-align: center;
		.small {
			font-size: medium;
		}
		.large {
			font-size: large;
		}
	}

	&#effect-events {
	  background: rgba(217, 217, 217, .8);
	  .event {
	  	display: contents;	  	
			max-width: 425px;
		  height: 100%;
	  }
	}
}

#game {
	height: 97vh;
	border-left: 4px solid black;
	border-right: 4px solid black;
}

#round-over {

	.col-xs-2 {
		-webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
	}

	.stars {
		position: absolute;
		display: flex;
    margin-left: -12%;
    path {
		 //  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
			// @include transform(scale(.1));
    }
    #left {    
			@include transform(translateX(-21px));
	  }
	}
	.goals {
		background-image: cdn-image('jce-banner');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 10%;

		color: white;
		font-size: large;
		.row {
			padding: 7%;
	  	font-size: x-large;
			&:nth-child(3) {
				margin-top: 7%;
			}

	  	.of {
	  		font-size: x-small;
	  		text-transform: uppercase;
	  	}
	  	.goal-end {
	  		font-size: xx-large;
	  		color: $gold;
	  	}
		}
		.no-pad { 
			padding-top: 5%;
		}
		.slash { 
			color: $greyish-brown;
		}
		.gold {
			color: $gold;
		}
	}

	#play-again {
		font-size: large;
		text-transform: uppercase;
		vertical-align: middle;
    display: inline-flex;
    
	  align-items: center;
	  justify-content: center;
	  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));

	  &:hover {
	    @include scale(1.1);
	  }
	  &:active {
	    @include scale(.9);
	  }
	}
}

#achievement {
	#content {

		font-size: large;
		text-align: center;
		background: white;

		position: fixed;
		left: 50%;
		top: 50%;
		min-height: 250px;
		transform: translate(-50%, -50%);

		@include box-shadow(4px, 4px, 0, #000000);
		
	}
}