// CDN CONFIG
$cdn-product: 'opportunity-game';

// COLORS
$white: #e8e6e5;
$yellow: #fecf33;
$gold: #dda812;
$hospital-green: #9fe2a2;
$bright-orange: #ff5500;

@mixin font-cabin() {
	font-family: 'Cabin', sans-serif;
	// @return $font-family;
}

// Mixins 
@import '~sass-mq/_mq';
@import './mixins';