// CDN CONFIG
$cdn-product: 'opportunity-game';

// COLORS
$white: #e8e6e5;
$yellow: #fecf33;
$light-orange: #fdbd39;
$light-gold: #ffc952;
$peach: #ee6723;
$pinkish-grey: #c8c8c8;
$dusty-orange: #f16922;

@mixin font-cabin() {
	font-family: 'Cabin', sans-serif;
	// @return $font-family;
}

// Mixins 
@import '~sass-mq/_mq';
@import './mixins';