// src/sass/styles.scss
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import './variables';

@import '~bootstrap-4-grid/scss/grid.scss';

// GLOBAL STYLING
.container {
  padding: 0;
}
@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
}

h1, h2 {
  font-size: 1.5em;
}

h3 {
  font-weight: 600;
  &:after {
    position: relative;
    display: flex;
    content: ''; 
    width: 60px; 
    height: 4px; 
    background: $light-gold; 
    bottom: -10px;
    margin-bottom: 5%;
    
    @include mq($from: mobile, $until: tablet) {
      margin-bottom: 10%;
    }
  }
}

// Center any column, yay!
.col-centered {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin:0;
  background: rgba(255, 255, 255, .8);
  z-index: 10;
  img {
    position: absolute;
    right: 0;
    top: 0;
  }
}