// src/sass/styles.scss
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700');
@import './variables';

@import '~bootstrap-4-grid/scss/grid.scss';

// GLOBAL STYLING
.container {
  padding: 0;
}
@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
}

h1, h2 {
  font-size: 1.5em;
}

button {  
  font-family: 'Cabin', sans-serif;
  font-size: large;
  background: white;
  border: none;
}

.bold {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}

.medium {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
}

// Center any column, yay!
.col-centered {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, .8);
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin:0;
  background: rgba(255, 255, 255, .8);
  z-index: 10;
  img {
    position: absolute;
    right: 0;
    top: 0;
  }
}