<div class="game-event col-5 vert-center medium inner-modal hidden" id="{{data._id}}">

	<h2 *ngIf="data.type === 'effect'" class="small">Opportunity: {{data.name}}</h2>
	<h2 *ngIf="data.type === 'life'">Life Event</h2>

	<div>
		<span class="bold">{{data.flavor}}</span>
	</div>

	<div class="reward col-2 col-centered no-pad">
		<div class="icon">
			<cdn-image cloudinaryId="opportunity-game/icons/{{data.reward?.icon}}.svg" alt="Icon for Reward"></cdn-image>
		</div>
	</div>

	<div class="footer">
		<div class="bold medium" *ngIf="data.costs.length > 0">YOU NEED AT LEAST:</div> 
		<div class="costs row col-5 auto">
			<div *ngFor="let cost of data.costs" class="cost {{cost.icon}} auto">
				<div *ngIf="cost.amt !== undefined && cost.isLvl === undefined" class="text bold">{{cost.amt}}</div>
				<div *ngIf="cost.isLvl === true" class="badge text bold">{{cost.amt}}</div>
			</div>
		</div>
		
		<span class="bold" *ngIf="data.costs.length < 1">This event is free!</span>
		<span class="bold" *ngIf="data.locked === true"><br/>You don't have the requirements to say yes!</span>
	</div>

	<div class="row" *ngIf="data.locked === false">
		<app-button label="Yes" ariaLabel="Click/tap to learn accept {{data.name}}" clickData="true" (clickEvent)="selectYes(data._id)" class="green large col-centered"></app-button>
		<app-button label="No" ariaLabel="Click/tap to close {{data.name}} window" clickData="true" (clickEvent)="selectNo(data._id)" class="orange large col-centered"></app-button>
	</div>
	<div class="row" *ngIf="data.locked === true">
		<app-button label="Ok" ariaLabel="Click/tap to close {{data.name}} window" clickData="true" (clickEvent)="selectNo(data._id)" class="orange large col-centered"></app-button>
	</div>

</div>