@import "~sass/_variables";

.game-event {

	font-size: large;
	text-align: center;
	margin: 0 auto;
	@include transition(all, 1s, cubic-bezier(0.600, -0.280, 0.735, 0.045));
	@include transform(scale(1) translateY(-50%));
	top: 50%;
	opacity: 1;

	&.hidden {
		@include transform(scale(0) translateY(0%));
		top: 0%;
		opacity: 0;
	}
	&.inner-modal {
		background: white;
		min-height: 250px;
		@include box-shadow(4px, 4px, 0, #000000);
	}

	h2 {
		&.small {
			font-size: medium;
			text-transform: uppercase;
		}
	}

	.footer {
		font-size: small;
    text-align: center;
    width: 100%;
	}

	.cost {
		display: block;
		min-width: 50px;
		min-height: 45px;
		text-align: right;
		background-repeat: no-repeat;

		&.money {
			background-image: cdn-image('icons/money', c_scale, w_55);
		}
		&.action {
			background-image: cdn-image('icons/action', c_scale, w_55)
		}
		&.community {
			background-image: cdn-image('icons/community', c_scale, w_55);
		}
		&.english {
			background-image: cdn-image('icons/english', c_scale, w_55);
		}
		&.training {
			background-image: cdn-image('icons/training-color', c_scale, w_55);
		}
		&.job {
			background-image: cdn-image('icons/job', c_scale, w_55);
		}
		&.transit {
			background-image: cdn-image('icons/transit', c_scale, w_55);
		}

		.text {
			vertical-align: top;
	    display: inline-flex;
	    padding-top: 5%;
	    margin-left: -18%;
	    font-size: xx-large;
		}
		.badge {
			width: 15px;
			height: 15px;
			float: none;
			padding-right: 0;
		  background-color: $gold;
		  border-radius: 50%;
		  font-size: x-small;;
	    text-align: center;
	    display: block;
	    left: 75%;
		}
	}
	::ng-deep .app-button {
		padding: 20%;
	}
}

.items {

	font-size: x-large;
	padding-top: 5%;
	padding-bottom: 5%;

	div {
		background-size: contain;
		background-position-y: center;
		min-height: 35px;
		min-width: 35px;
	}
	.cost {
		color: $bright-orange;
		text-align: center;
	}
	.reward {
		color: $hospital-green;
		text-align: center;
	}

	.money {
		background-image: cdn-image('icons/money-cost', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.action {
		background-image: cdn-image('icons/action-cost', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.comm {
		background-image: cdn-image('icons/community', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.job {
		background-image: cdn-image('icons/job', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.english {
		background-image: cdn-image('icons/english', c_scale, w_35);
		background-repeat: no-repeat;
	}
}