<div class="game-event col-8">

	<h2 *ngIf="type === 'effect'">Opportunity Event</h2>
	<h2 *ngIf="type === 'life'">Life Event</h2>

	<b>{{data.flavor}}</b>

	<div class="items row">
		<div class="{{item.icon}} {{item.type}} col-4 col-centered" *ngFor="let item of getCostsAndRewards()">

			<span *ngIf="item.type === 'cost'">
				{{item.amt}}
			</span>
			<span *ngIf="item.type === 'reward'">
				+
			</span>

		</div>
	</div>

	<div class="row">
		<button (click)="selectNo()" class="col-5"><-----</button>
		<app-button label="Yes" ariaLabel="Click to accept this offer" clickData="true" (clickEvent)="selectYes()" class="green col-centered col-6"></app-button>
	</div>
</div>