@import "~sass/_variables";

.game-event {

	font-size: large;
	text-align: center;
	margin: 0 auto;
	
	&.inner-modal {
		background: white;
		min-height: 250px;
		@include box-shadow(4px, 4px, 0, #000000);
	}

	h2 {
		&.small {
			font-size: medium;
			text-transform: uppercase;
		}
	}

}

.items {

	font-size: x-large;
	padding-top: 5%;
	padding-bottom: 5%;

	div {
		background-size: contain;
		background-position-y: center;
		min-height: 35px;
		min-width: 35px;
	}
	.cost {
		color: $bright-orange;
		text-align: center;
	}
	.reward {
		color: $hospital-green;
		text-align: center;
	}

	.money {
		background-image: cdn-image('icons/money-cost', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.action {
		background-image: cdn-image('icons/action-cost', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.comm {
		background-image: cdn-image('icons/community', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.job {
		background-image: cdn-image('icons/job', c_scale, w_35);
		background-repeat: no-repeat;
	}
	.english {
		background-image: cdn-image('icons/english', c_scale, w_35);
		background-repeat: no-repeat;
	}
}