@import "~sass/_variables";
#about {

	h1 {
	  font-size: em(144px);
	  font-weight: 700;
		position: absolute;
		bottom: -29%;
		
		@include mobile-only {
			font-size: em(144px, 2.25);
			bottom: -24%;
		}
		@include mq($from: tablet, $until: desktop) {
			font-size: em(144px, 1.25);
		}
	}

	@include mobile-only {
		background-image: url(http://res.cloudinary.com/engagement-lab-home/image/upload/c_thumb,f_auto,g_south_east,h_350,w_350/v1519239488/civic-idea/civic-idea-about_2x.png);
		min-height: 297px;
		margin-bottom: 20%;
	}
	@include mq($from: tablet, $and: '(orientation: landscape)') {
		background-image: url(https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,w_1024/v1519314036/civic-idea/civic-idea-about_3x.png);
		min-height: 297px;
	}
	@include mq($from: wide) {
		background-image: url(https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,w_1300/v1519415457/civic-idea/civic-idea-about_3x.png);
		min-height: 500px;
	}
	background-repeat: none;
	background-size: cover;

	margin-bottom: 11%;
}

#guide {	
	border: solid 4px $light-gold;
	max-height: 350px;
  margin-bottom: 5%;

	h4 {
		padding-top: 7%;
	}
}

#contact {
	font-size: em(24px);
  font-weight: 500;
}
