<div id="home">

	<div id="house" class="row-lg">

		<div class="col-12 col-lg-8 auto row">

			<div class="col-4 auto row">
				<div id="house-bubble" class="bubble">
						<span class="round1">Choose a category to explore</span>
						<span class="round2">Keep exploring and finding Opportunities! Maybe you should find a way to work on your English.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<div class="vert-center">
						<cdn-image cloudinaryId="opportunity-game/char-{{playerIndex}}-home.svg" width="350" alt="Icon for Home"></cdn-image>
					</div>
				</div>
				<div id="goals" class="no-margin medium bold col-3 auto">
					<div class="goal">
						<cdn-image cloudinaryId="opportunity-game/icons/community.svg" width="40" alt="Community level-up icon"></cdn-image>
						<span>{{commLevel}} <span class="of">of</span> <span class="goal-end">{{assignedGoal?.commGoal}}</span></span>
					</div>
					<div class="goal">
						<cdn-image cloudinaryId="opportunity-game/icons/training-color.svg" width="40" alt="Job level-up icon"></cdn-image>
						<span>{{jobLevel}} <span class="of">of</span> <span class="goal-end">{{assignedGoal?.jobGoal}}</span></span>
					</div>
					<div class="goal">
						<cdn-image cloudinaryId="opportunity-game/icons/english.svg" width="40" alt="English level-up icon"></cdn-image>
						<span>{{englishLevel}} <span class="of">of</span> <span class="goal-end">{{assignedGoal?.englishGoal}}</span></span>
					</div>
				</div>
			</div>
		</div>

			

	</div>

		<div id="filters" class="row col-12 col-lg-8 auto">
		
			<div *ngFor="let filter of filters" class="col-3 col-centered filter btn" (click)="filterSelection(filter.key)">
				<div class="content vert-center">
					<cdn-image cloudinaryId="opportunity-game/icons/home-{{filter.key}}.svg" width="150" alt="Icon for {{filter.label}} filter"></cdn-image>
					<div class="label bold">{{filter.label}}</div>
				</div>
			</div>
		
		</div>

</div>

<div id="map" class="hidden">
	
	<div id="back" (click)="backToHome()" class="btn"><cdn-image cloudinaryId="opportunity-game/icons/home.svg" width="50" alt="Back to Home"></cdn-image></div>

	<div id="category-label" class="bold">Category</div>

	<div class="locations row col-md-10">
		<div *ngFor="let location of locations" attr.data-categories="{{location.categoriesStr}}" class="col-3 col-md-3 location">

			<div class="centered">
								
				<a *ngIf="location.unlockedAtStart === undefined || location.unlockedAtStart === true || location.enabled === true"
				routerLink="/game/location/{{location.key}}">
					<cdn-image cloudinaryId="opportunity-game/locations/{{location.image}}-{{location.imageIndex}}.svg" width="150" alt="Icon for {{location.name}}"></cdn-image>
					<div class="name bold">{{location.name}}</div>
				</a>
				
				<span *ngIf="location.unlockedAtStart === false && location.enabled === undefined">
					<cdn-image cloudinaryId="opportunity-game/locations/{{location.image}}-locked.svg" width="150" alt="Icon for {{location.name}}"></cdn-image>
					<div class="name bold">{{location.name}}</div>
				</span>

			</div>
				
		</div>

	</div>
</div>