<app-wellbeing></app-wellbeing> 

<div id="home">

	<div #map id="filters" class="row auto">
	
		<div *ngFor="let filter of filters" class="filter btn" (click)="filterSelection(filter.key)">
			<!-- <div class="content vert-center"> -->
				<cdn-image cloudinaryId="opportunity-game/home/{{filter.key}}.svg" width="1000" alt="Image for {{filter.label}} filter"></cdn-image>
				<!-- <div class="label bold">{{filter.label}}</div> -->
			<!-- </div> -->
		</div>

		<div id="house" class="row-lg">

			<div class="col-12 col-lg-8 auto row">
				<div class="col-2">
					<div class="vert-center">
						<cdn-image *ngIf="character !== undefined" cloudinaryId="opportunity-game/characters/char-{{character?.image}}-home.svg" width="350" alt="Icon for Home"></cdn-image>
					</div>
				</div>
		
				<div class="col-4">
					<div id="house-bubble" class="bubble">
						<span class="round1">Select a category to view its locations. If you are not sure where to start, try DISCOVER.</span>
						<span class="round2">Leveling up skills will unlock more opportunities!</span>
						<span class="round3">Having a job and transportation will unlock more opportunities.</span>
						<span class="round4">Keep exploring to reach your goals!</span>
					</div>
				</div>
			</div>	

		</div>

	
	</div>

</div>

<div id="map" class="hidden">
	
	<div id="back" (click)="backToHome()" class="btn"><cdn-image cloudinaryId="opportunity-game/icons/home.svg" width="50" alt="Back to Home"></cdn-image></div>

	<div id="category-label" class="bold">Category</div>

	<div class="locations row col-md-10">
		<div *ngFor="let location of locations" attr.data-categories="{{location.categoriesStr}}" class="col-3 col-md-3 location">

			<div class="centered">
								
				<a *ngIf="location.unlockedAtStart === undefined || location.unlockedAtStart === true || location.enabled === true"
				routerLink="/game/location/{{location.key}}">
					<cdn-image cloudinaryId="opportunity-game/locations/{{location.image}}-{{location.imageIndex}}.svg" width="150" alt="Icon for {{location.name}}"></cdn-image>
					<div class="name bold">{{location.name}}</div>
				</a>
				
				<span *ngIf="location.unlockedAtStart === false && location.enabled === undefined">
					<cdn-image cloudinaryId="opportunity-game/locations/{{location.image}}-locked.svg" width="150" alt="Icon for {{location.name}}"></cdn-image>
					<div class="name bold">{{location.name}}</div>
				</span>

			</div>
				
		</div>

	</div>
</div>