@import "~sass/_variables";

.plackard {

	color: white;
	text-transform: uppercase;
	text-align: center;
	background: cdn-image('plackard-bg', c_scale, w_133);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;

}

#back {
	display: inline-block;
  @include transition(all, 150ms, cubic-bezier(0.64, 0.57, 0.67, 1.53));
 
  &:hover {
    @include scale(1.2);
  }
  &:active {
    @include scale(.8);
  }
}

#home {
	
	height: 100%;

}

#filters {

  height: 50%;
  overflow-y: scroll;

	@include mq($from: mobile, $until: mobileLg) {
		padding-bottom: 10%;
		overflow-x: scroll;
		display: flex;
	}

	.filter {
		text-align: center;
		@include mobile-only { 
			 padding-top: 1%;
		}
		.content {
	    margin: 0 auto;
	    ::ng-deep img {
				width: 100%;
	    }
	  }
	  .label {
	  	text-align: center;
	  }
	}
}

#house {

	min-height: 35%;
	background-image: cdn-image('home-bg',  c_scale, w_1024);
	background-repeat: no-repeat;
	background-size: cover;

  .centered {
  	position: absolute;
  	width: 45%;
  	transform: translate(35%, -100%);
  }
  #goals {
  	padding-left: 5%;

	  .goal {
	  	display: flex;
	  	font-size: x-large;
	  	.of {
	  		font-size: x-small;
	  		text-transform: uppercase;
	  	}
	  	.goal-end {
	  		font-size: xx-large; 
				-webkit-text-stroke: 1px $gold; 
				text-stroke: 1px $gold;
	  	}
			@include mq($from: mobile, $until: mobileLg) {
				::ng-deep img {
					max-width: 35px!important;
				}
			}
	  }
  }
	@include mobile-only {
		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}
	}
	@include mq($from: tablet) {
		.desktop {
			display: block;

		  .centered {
		  	position: relative;
		  	width: 58%;
		  	transform: translate(100%, 0);
		  }
		  .bubble {
		  	top: 25%;
		  }
		}
		.mobile {
			display: none;
		}
	}

}

#map {
	
	background: cdn-image('map-bg');
	min-height: 400%;
		
	#category-label {
		text-align: center;
		font-size: large;
		padding: 1%;
		@include mobile-only {
			padding: 5%;
		}
	}

}

.locations {
	margin: auto;
  // height: 65vh;
	// @media(max-height: 680px) {
		height: 68vh;
	// }
	@include mobile-only {
	  overflow: scroll;
	}

	.location {
		display: none;

		a {
			text-decoration: none;
		}

		.name {
			color: black;
			text-align: center;
			font-size: smaller;
		}
		.locked {
			@include filter(opacity, 50%);
		}
		&.show {
			display: block;
		}
	}
}