@import "~sass/_variables";

.plackard {

	color: white;
	text-transform: uppercase;
	text-align: center;
	background: cdn-image('plackard-bg', c_scale, w_133);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;

}

#home {
	
	height: 100%;

}

#filters {

	height: 35%;

	@include mq($from: mobile, $until: mobileLg) {
		padding-bottom: 10%;
		overflow-x: scroll;
		display: flex;
	}

	.filter {
		@include mq($from: tablet) {
			&:nth-child(even) {
				margin-top: 15%;
			}
		}
		@include mobile-only { 
			 padding-top: 1%;
		}
		.content {
	    margin: 0 auto;
	    ::ng-deep img {
				width: 100%;
	    }
	  }
	  .label {
	  	text-align: center;
	  }
	}
}

#house {

	min-height: 35%;
	// width: 100%;
	background-image: cdn-image('home-bg',  c_scale, w_1024);
	background-repeat: no-repeat;
	background-size: cover;

	.row {
		@include mobile-only {
			padding-top: 15%;
		}
	}
  .centered {
  	position: absolute;
  	width: 45%;
  	transform: translate(35%, -100%);

  	&::ng-deep img {
  		// width: 68%;
  	}
  }
	@include mobile-only {
		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}
	}
	@include mq($from: tablet) {
		.desktop {
			display: block;

		  .centered {
		  	position: relative;
		  	width: 58%;
		  	transform: translate(100%, 0);
		  }
		  .bubble {
		  	top: 25%;
		  }
		}
		.mobile {
			display: none;
		}
	}

}

#map {
	
	background: cdn-image('map-bg');
	min-height: 400%;
		
	#category-label {
		text-align: center;
		font-size: large;
		padding: 1%;
		@include mobile-only {
			padding: 5%;
		}
	}

}

.locations {
	margin: auto;
  height: 65vh;
	@media(max-height: 680px) {
		height: 58vh;
	}
	@include mobile-only {
	  overflow: scroll;
	}

	.location {
		display: none;

		a {
			text-decoration: none;
		}

		.name {
			color: black;
			text-align: center;
			font-size: 10px;
			min-height: 39px;
		}
		.locked {
			@include filter(opacity, 50%);
		}
		&.show {
			display: block;
		}
	}
}